body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-area {
	resize: none;
}

.account-pages{
  background-color: rgb(236, 236, 236);
  height:100vh;
}

Label{
  font-size: 15px;
  font-weight: 600;
}
.user-details{
  font-size: 13px;
  font-weight: 600;
}
.link{
  color: #571ae5;
  cursor: pointer;
}
.link:hover{
  color: #0d6efd;
}

.bg-purple{
  background-color: #571ae5;
}

.btn-purple{
  background-color: #571ae5!important;
  border-color: #571ae5!important;
  color: white!important;
}
.navbar-expand-md .navbar-nav .nav-link:hover{
  color: white!important;

} 
.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.tiles{
  animation: mymove .9s;
}
.tiles:hover{
  box-shadow: 0 0 7px #969696;
  transition: all .3s ease-in;
  cursor: pointer
}

.fa{
  font-size: 12px;
}
.navbar-toggler::after {
  color: white;
  content: "Menu";
  font-size: 14px;
}
.top-navbar{
  z-index:99999;
}
button{
  outline: none!important;
}
.active{
  color: #fff!important;
}

@keyframes mymove {
  from {opacity: 50%;
    -ms-transform: scaleY(0.7);
  transform: scale(0.7);
  }
  to {opacity: 100%;
    -ms-transform: scaleY(1); 
  transform: scale(1);
  }
}

.single-tile{
  width:22%;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

div a , .nav-item a {
  color: #a8a8a8;
  text-decoration: none;
  transition: all 0.3s;
}
 div a:hover {
  color: #fff;
}




/* ------Top navbar STYLE---------------- */
.top-navbar{
  background: #571ae5!important;
}
/* ------SIDEBAR STYLE---------------- */
.layout{
  height:100vh;
  overflow-x: hidden;
}
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #363636;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

 .sidebar.is-open {
  margin-left: 0px;
  transition: all 0.5s;
}



.items-menu {
  color: #fff;
  background: #363636;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 0px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}
.menu-title{
  color: rgb(184, 184, 184);
}


/* ----CONTENT STYLE--------------- */
.content {
  margin-left: 0;
  height: 100vh;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

@media only screen and (max-width: 768px) {
  .single-tile{
    width:100%;
  }
}

@media only screen and (max-width: 500px) {

  .content.is-open {
    margin-left: 0px;
  }
  .single-tile{
    width:100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 70%;
  }
}
