body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-area {
	resize: none;
}

.account-pages{
  background-color: rgb(236, 236, 236);
  height:100vh;
}

Label{
  font-size: 15px;
  font-weight: 600;
}
.user-details{
  font-size: 13px;
  font-weight: 600;
}
.link{
  color: #571ae5;
  cursor: pointer;
}
.link:hover{
  color: #0d6efd;
}

.bg-purple{
  background-color: #571ae5;
}

.btn-purple{
  background-color: #571ae5!important;
  border-color: #571ae5!important;
  color: white!important;
}
.navbar-expand-md .navbar-nav .nav-link:hover{
  color: white!important;

} 
.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}



/* ------Top navbar STYLE---------------- */
.top-navbar{
  background: #571ae5!important;
}
/* ------SIDEBAR STYLE---------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #363636;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #363636;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #363636;
}

.side-menu .list-unstyled .nav-item .nav-link ,.nav-link {  
  color: rgb(184, 184, 184)!important;
}

.nav-item:hover {
  color: #fff;
  background: #571ae5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.items-menu {
  color: #fff;
  background: #363636;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 0px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}
.menu-title{
  color: rgb(184, 184, 184);
}


/* ----CONTENT STYLE--------------- */
.content {
  margin-left: 0;
  height: 100vh;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

@media only screen and (max-width: 500px) {

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 70%;
  }
}
